*{
    margin: 0;
    padding: 0;
}


.gmail
{
    text-align: right;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.gorseller
{
    text-align: right;
    float: right ;
    margin-right: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
a
{
    text-decoration: none;
    
}

.gg-menu-grid-o
{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    text-align: right;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    padding-right: 2px;
}

.image
{
    float: right;
    display: block;
    margin-right: 20px;
    margin-top: 15px;
}


.google
{
    margin-top: 60px;
    margin-left: 550px;
}

.browser
{
    width: 650px;
    height: 40px;
    margin-top: 15px;
    margin-left: 400px;
    border-radius: 25px;
    border-color: rgb(206, 205, 205);
    border-top-color: rgb(206, 205, 205);
    background-image: url('searchicon.png');
    font-size: large;
    
}

/* .icon-input{
    display: flex;
}*/

.gg-search{
    position:relative;
    left:20px;
    top:-8px;
    z-index:999;
    flex: 1;
}

.button1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 520px;
    border: none;
    padding: 10px 27px;
    text-align: center;
}

.button2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 20px;
    border: none;
    padding: 10px 27px;

}

.p1
{
    text-align: center;
    margin-top: 40px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.footer2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    float: left;
    /*margin-top: 20px;*/
    margin-right: 0;
    margin-top: 0%;
    background-color: #f2f2f2;;
    padding: 10px 20px;
    width: 1475px;
    
}

.hakkında
{
    float: left;
    margin-right: 20px;
}

.reklam
{
    float: left;
    margin-right: 20px;
}

.işletme
{
    float: left;
    margin-right: 20px;
}

.arama
{
    float: left;
    margin-right: 250px;
}

.karbon
{
    float: left;
    margin-right: 350px;
}

.gizlilik
{
    float: left;
    margin-right: 20px;
}

.şartlar
{
    float: left;
    margin-right: 20px;
}

.ayarlar
{
    float: left;
}